@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.App{
    display: flex;
    background-color: rgb(113, 220, 129);
}

.Signup-form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .Signup-form div {
    margin-bottom: 15px;
  }
  
  .Signup-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  .Signup-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
    color: rgb(0, 0, 0);
  }
  
  .Signup-form input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    
  }
  
  .Signup-form button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .Signup-form button:hover {
    background: #0056b3;
  }
  
  .Signup-form input[type="file"] {
    border: none;
    padding: 5px;
  }
  
  /* Login-specific styles */
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000000;
}

.login-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.login-title {
  margin-bottom: 20px;
  font-size: 24px;
  color: black;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: black;
}

.form-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.password-input{
  width: 80%;
}

.show{
  color: rgb(0, 0, 0);
  padding: 2px;
  text-align: right;
  margin: 4px;
}


.login-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}
